
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>eXtreme Startup - Control Panel</title>
<link href='/css/style.css' rel='stylesheet' />
<script src='/js/jq.js' type='text/javascript'></script>
<script src='/js/controlpanel.js' type='text/javascript'></script>
</head>
<body>
	<h1>
		Current Round: <span th:text="${round}"></span>
	</h1>

	<div th:unless="${#lists.isEmpty(questions)}">

		<ul th:each="entry : ${questions}">
			<li><div class="ranking name" th:text="${{entry}}"></div></li>
		</ul>

	</div>


	<input id='nextround' type='button' value='Next Round' />

	<input th:if='${isRunning}' id='pause' type='button' value='Pause Game' />
	<input th:if='${!isRunning}' id='resume' type='button'
		value='Resume Game' />
</body>
</html>
