<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>eXtreme Startup - Leaderboard</title>
    <link href='/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/css/style.css' rel='stylesheet' />

  </head>
  <body>
    <div class='hero-unit'>
      <h1>Extreme Startup</h1>
      <h2>IP server : <span th:text="${ipServer}"></span></h2>
      <h2>Your IP : <span th:text="${ipClient}"></span></h2>
    </div>
    <div class='span3 offset1'>
      <a class='btn btn-large btn-primary' href='/player'>
        I want to play!
      </a>
    </div>
    <div class='span7'>
      <h1>Leaderboard</h1>
     
      
      <div th:unless="${#lists.isEmpty(leaderBoardEntries)}">
      
      <ul th:each="entry : ${leaderBoardEntries}">
      	<li><div class="ranking name" th:text="${{entry.playerName}}"></div><div class="ranking points" th:text="${{entry.score}}"></div></li>          
      </ul>
      
      </div>
      
      <script type='text/javascript'>
        //<![CDATA[
          refresh = function() { window.location.reload(); };
          setTimeout(refresh, 10000);
        //]]>
      </script>
    </div>
  </body>
</html>
