<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Extreme Startup - John Smith</title>
    <link href='/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/css/style.css' rel='stylesheet' />

    <META HTTP-EQUIV="Refresh" content="5" />    
  </head>
  <body>
    <div class='hero-unit'>
      <h1>Extreme Startup</h1>
      <h2>Hello, <span th:text="${player?.name}"></span></h2>
    </div>
    <div class='span5'>
      <h2>
        Your score is:
        <span class='score' th:text="${score}"></span>
      </h2>
      <!-- 
      <a class='btn btn-large btn-primary' th:href="@{'/withdraw/player/'+${player.uuid}}">
        Withdraw
      </a>
       -->
    </div>
    <div class='span10'>
      <h2>Log:</h2>
      <div th:unless="${#lists.isEmpty(player?.logs)}">
      
      <ul >
      	<li th:each="log : ${player.logs}">
      	<div class="logline date" th:classappend="${log.result}" th:text="${{log.date}}"></div>
      	<div class="logline question" th:classappend="${log.result}" th:text="${{log.answer}}"></div>
      	<div class="logline result" th:classappend="${log.result}" th:text="${{log.result}}"></div>
      	<div class="logline points" th:classappend="${log.result}" th:text="${{log.points}}"></div>
      	</li>          
      </ul>
      
      </div>
    </div>
  </body>
</html>
