
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>eXtreme Startup - Add a new player</title>
<link href="/resources/css/bootstrap.min.css" rel="stylesheet"></link>

</head>
<body>
	<h1>Add a new player</h1>
	<form action="#" th:action="@{/player}" th:object="${player}" method="post">
	     <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
         </ul>
	
		<label for='name'>Name:</label> 
		<input id='name' name='name' th:field="*{name}" type='text' /> 
		<label for='name'>URL:</label> 
		<input id='url' name='url' th:field="*{url}" type='text' /> 
		<input type='submit' value='Submit' />
	</form>
</body>
</html>