
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>
	<h1>Player added - Thanks</h1>
	<p><span th:text="${player.name}"></span>, you can view your personal log page by <a th:href="@{'/player/'+${player.uuid}}">following this link</a> don'tclose that tab!</p>
</body>
</html>
